PP_PROJECT_NAME=pain-pulse

PP_DB_HOST=postgres
PP_DB_PORT=5432
PP_DB_NAME=analytics
PP_DB_USER=analytics_user
PP_DB_PASSWORD=analytics_pass


AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__RBAC=True


SUPERSET_SECRET_KEY=change-this-in-.env
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset_pass
SUPERSET_DB_NAME=superset

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=
REDDIT_TOKEN=